@media only screen and (min-width: 1438px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid blue;
  }
*/
  .vertical-menu-holder {
    display:none;
  }
  #wrapper .rev_slider_wrapper {
    margin:0px auto;
  }
}

@media only screen and (min-width: 979px) and (max-width: 1437px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid red;
  }
*/
  .vertical-menu-holder {
    display:none;
  }
  #wrapper .rev_slider_wrapper {
    margin-left: -719px;
    left: 50%;
    top: 50%;
  }
}

@media only screen and (min-width: 896px) and (max-width: 978px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid green;
  }
*/
  .vertical-menu-holder {
    display:none;
  }
  #wrapper .rev_slider_wrapper {
    margin-left: -619px;
    left: 50%;
    top: 50%;
  }
  #main p.magento-ecommerce-partner {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 895px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid yellow;
  }
*/
.testimonypullup{
	margin-top: 0px !important;
	}
  #header .logo {
    text-align: center;
    margin: 0 0 20px;
    padding: 20px 0 0;
    float: none;
  }
  nav#nav {
    width: 612px;
    margin: 0px auto;
    float: none;
  }
  .nav-holder ul {
    display: block;
    float: left;
  }
  #wrapper .rev_slider_wrapper {
    margin-left: -519px;
    left: 50%;
    top: 50%;
  }
  .vertical-menu-holder {
    display:none;
  }
  #header .logo a {
    width: 250px;
    margin: 0 auto;
    text-align: center;
  }
  #main p.magento-ecommerce-partner {
    padding-bottom: 20px;
  }
  .continue {
    display: none;
  }
  .review.male blockquote .company-logo img {
    width: 132px;
    height: 45px;
  }
}

@media only screen and (min-width: 667px) and (max-width: 700px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid black;
  }
*/
.testimonypullup{
	margin-top: 0px !important;
	}
  .vertical-menu-holder {
    display:none;
  }
  #header .logo {
    text-align: center;
    margin: 0 0 20px;
  }
  #header .nav-holder {
    float: right;
  }
  nav#nav {
    width: 612px;
    margin-left: -306px;
    left: 50%;
    top: 50%;
  }
  .nav-holder ul {
    display: block;
  }
  #wrapper .rev_slider_wrapper {
    margin-left: -466px;
    left: 50%;
    top: 50%;
  }
  .logo a div{
    width: 335px;
    height:106px;
    display:block;
  }
   .logo a {
  	display:block;
    width: 335px;
    height:106px;
    margin: 0 auto;
    text-align: center;
  }
  #main p.magento-ecommerce-partner {
    padding-bottom: 20px;
  }
  .continue {
    display: none;
  }
  .footer-area .columns-4 #text-4 {
    height: 228px;
  }
  .review.male blockquote .company-logo img {
    width: 132px;
    height: 45px;
  }
}

@media only screen and (min-width: 340px) and (max-width: 666px){
	.contactgotoinfo{
	display:none;
	}
	.testimonypullup{
	margin-top: 0px !important;
	}
  /* MENU START */
    .vertical-menu-holder {
      display: none;
      background: url("../images/navigate_bg.gif") no-repeat;
      width: 32px;
      height: 32px;
      padding-right: 4px;
    }
     .logo img {
      display:block;
      float: left;
      width:335px;
      height:106px;
    }
    .vertical-menu-holder {
      display: block !important;
      position: absolute;
      left: 96%;
      cursor: pointer;
    }
    .vertical-menu-holder:hover  > .mobile-vertical-menu {
      display: block;
    }
    .mobile-vertical-menu {
      position: relative;
      display: none;
      left: -146px;
      top: 16px;
      width: 176px;
      background: #fff;
      border: 1px solid #E9E9E9;
      z-index:999;
    }
    .testimonypullup{
	margin-top: 0px;
	}
    .mobile-vertical-menu dd {
      text-align: left;
      margin-left: 0;
      border-bottom: dotted 1px #E9E9E9;
    }
    .mobile-vertical-menu dd a {
      margin-left: 4px;
      padding-left:4px;
    }
    .mobile-vertical-menu dd a:hover {
      border-left: 2px solid #20afd9;
    }
    #header .nav-holder {
      float:none;
    }
    .nav-holder ul {
      display: none;
    }
    .nav-holder select {
      display:block !important;
      width:100%;
    }
    .avada-row {
      position: relative;
    }
  /* MENU END */
}

@media only screen and (min-width: 642px) and (max-width: 666px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid pink;
  }
*/
.testimonypullup{
	margin-top: 0px !important;
	}
  #wrapper .rev_slider_wrapper {
    margin-left: -465px;
    left: 50%;
    top: 50%;
  }
  #header .logo a {
    width: 250px;
    height: auto;
  }
  .vertical-menu-holder {
    float: right;
  }
  #main p.magento-ecommerce-partner {
    padding-bottom: 20px;
  }
  .footer-area .columns-4 #text-4 {
    height: 228px;
  }
}

@media only screen and (min-width: 508px) and (max-width: 641px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid brown;
  }
*/

.testimonypullup{
	margin-top: 0px !important;
	}
  #wrapper .rev_slider_wrapper {
    margin-left: -358px;
    left: 50%;
    top: 50%;
  }
  #header .logo a {
    width: 250px;
    height: auto;
  }
  .vertical-menu-holder {
    float: right;
    
  }
  #main p.magento-ecommerce-partner {
    padding-bottom: 20px;
  }
  .footer-area .columns-4 #text-4 {
    height: 228px;
  }
  .avada_small_black_text {
    display: none;
  }
  
}

@media only screen and (min-width: 445px) and (max-width: 507px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid grey;
  }
*/
.nav-holder {
      display: none !important;
    }
.testimonypullup{
	margin-top: 0px !important;
	}  #wrapper .rev_slider_wrapper {
    margin-left: -302px;
    left: 50%;
    top: 50%;
  }
  #post-20 .reading-box img.magento-logo{
    float: none;
  }
  #post-20 .reading-box {
    text-align: center;
  }
  #header .logo a {
    width: 250px;
    height: auto;
  }
  .vertical-menu-holder {
    float: right;
    
  }
  #post-20 .post-content .reading-box h2.philippines-outsourcing-magento {
    text-align: left;
  }
  #main p.magento-ecommerce-partner {
    padding-bottom: 20px;
    text-align: left;
  }
  .footer-area .columns-4 #text-4 {
    height: 228px;
  }
  .avada_small_black_text {
    display: none;
  }
  .outsourcing-telstra {
    margin-left: -18px;
  }
  .outsourcing-ibm {
    margin-left: -54px;
  }
  .outsourcing-bhpbilliton {
    margin-left: -41px;
  }
  .outsourcing-google {
    margin-left: -14px;
  }
  .outsourcing-qantas {
    margin-left: -66px;
  }
  .outsourcing-deloitte {
    margin-left: -106px;
  }
  .outsourcing-nestle {
    margin-left: -223px;
  }
  .outsourcing-ford {
    margin-left: -120px;
  }
  
}

@media only screen and (min-width: 360px) and (max-width: 444px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid orange;
  }
*/
.nav-holder {
      display: none !important;
    }
.testimonypullup{
	margin-top: 0px !important;
	}
  #header .logo a {
    width: 250px;
    height: auto;
  }
  .vertical-menu-holder {
    float: right;
  }
  #post-20 .post-content .reading-box {
    text-align: center;
  }
  #post-20 .post-content .reading-box h2.philippines-outsourcing-magento {
    text-align: left;
  }
  #post-20 .post-content .reading-box p.magento-ecommerce-partner {
    text-align: left;
  }
  #main p.magento-ecommerce-partner {
    padding-bottom: 20px;
  }
  #wrapper .rev_slider_wrapper {
    margin-left: -308px;
    left: 50%;
    top: 50%;
  }
  #main .reading-box img.magento-logo {
    float: none;
  }
  .footer-area .columns-4 #text-4 {
    height: 228px;
  }
  .avada_small_black_text {
    display: none;
  }
  
}

@media only screen and (max-width: 359px){
/*
  #main .reading-box img.magento-logo{
    border: 1px solid violet;
  }
*/
.nav-holder {
      display: none !important;
    }
.testimonypullup{
	margin-top: 0px !important;
	}
  #header .logo a {
    width: 250px;
    height: auto;
  }
  .vertical-menu-holder {
    float: right;
    
  }
  #main p.magento-ecommerce-partner {
    padding-bottom: 20px;
  }
  #wrapper .rev_slider_wrapper {
    margin-left: -200px;
    left: 50%;
    top: 50%;
  }
  .footer-area .columns-4 #text-4 {
    height: 228px;
  }
  .avada_small_black_text {
    display: none;
  }
  
}

/* IPHONE 5 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	#contactformlogo{
	display:none;
	}
	#subPageContent input[type=text] {
	 width: 400px; 
	}
	#contactformLeft{
	width:95% !important;
	}
  .home #sliders-container {
    overflow: hidden;
  }
  .rev_slider_wrapper {
    left: -40px;
  }
  .wp-post-image {
    margin-bottom: 36px;
  }
 .testimonypullup{
	margin-top: 0px !important;
	}
  
   .specialbulletsbanner1{
  	display:none;
  }	
  .specialcaptionbanner span{
  font-size:10px !important;
  line-height:10px;
  } 
  .bannerbutton{
  display:none!important;}
  
  .testItem{
  width:90% !important;
	}
	
	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	#contactformlogo{
	display:none;
	}
	
	.testimonypullup{
	margin-top: 0px !important;
	}
  .home #sliders-container {
    overflow: hidden;
  }
  .rev_slider_wrapper {
    left: -80px;
  }
  .wp-post-image {
    margin-bottom: 30px;
  }
  .about-outsourced-head {
    width: 96%;
  }
  .testimonypullup{
	margin-top: 0px;
	}
}

.rev_slider_wrapper {
margin: 0 auto;
}