/*
Theme Name: Avada Child
Description: Child theme for the Avada
Author: Your name here
Template: Avada
*/

@import url("../Avada/style.css");

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

#nav ul li{
    padding: 0 25px 0 0;
}

.imaged-head {
color: #000000;
font-size: 20px;
font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
}

.emphasize{
    color:#01A3D3;
}

.post-content ul.default.imaged-head-ul li {
    padding-left: 16px;
    line-height: 26px;
}

#main .reading-box img.magento-logo{
    float:right;
    heigh:156px;
    width:173px;
    padding-right: 26px;
    padding-left: 20px;
}

.columns .col{
    padding:0 2.5% 0 0;
}

.columns-2 .col{
    float:left;
    width:48%;
    margin-bottom: 28px;
}

.columns-2 .review.male blockquote .company-logo{
    height: 50px;
    width: 148px;
    padding: 60px 16px 0 10px;
    margin-bottom: 28px;
}
.columns-2 .review.female blockquote .company-logo{
    height: 50px;
    width: 148px;
    padding: 60px 16px 0 10px;
    margin-bottom: 28px;
}

.review blockquote q{
    padding-top: 16px;
    padding-bottom: 16px;
    color: #747474;
}

.review blockquote .company-name{
    color: #333333;
}

.one_half .reviews .review .company-logo{
    height: 90px;
    padding-top: 60px;
}

.review.male blockquote .company-logo{
    background: none repeat scroll 0% 0% transparent;
    padding: 10px 18px;
}

.review.female blockquote .company-logo{
    background: none repeat scroll 0% 0% transparent;
    padding: 10px 18px;
}

.blog-semi-large-image{
    float:left;
    margin:0 !important;
    margin-right:32px !important;
    width: 435px;
}

#main .post-content h2.about-outsourced-head {
    margin: 0 0 10px;
    color: #343333;
    font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
    font-size: 22px !important;
    line-height: 18px !important;
}

.post-content p.about-content{
    margin: 0 0 16px;
}

.full-boxed-pricing ul.columns-3{
    width: 306px;
    font-size: 17px;
}

.post-content ul.default{
    padding:0 0 0 28px;
}

.full-boxed-pricing ul li.price-row {
    font: 19px "PT Sans Caption",Arial,Helvetica,sans-serif !important;
    background: none repeat scroll 0 0 #01A3D3;
    color:#FFFFFF;
    font-weight: bold;
}

.full-boxed-pricing ul li.title-row-price {
    font: 20px "PT Sans Caption",Arial,Helvetica,sans-serif !important;
    background: none repeat scroll 0 0 #01A3D3;
    color:#ffffff;
}

#post-17 p.pricing-note {
    font-size: 13px;
}

#post-17 .post-content .title {
    display:none;
}

.button.large{
    margin: 4% 0;
}

.full-boxed-how-it-works ul.outsourcing-works {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.full-boxed-how-it-works ul.outsourcing-works li {
	border-bottom: 1px solid #acdcea;
	padding-bottom: 15px;
	margin: 20px 56px 42px 42px;
}

.full-boxed-how-it-works ul.outsourcing-works li .imaged-row {
    width: 30%;
    float: left;
    text-align: center;
}

.full-boxed-how-it-works ul.outsourcing-works li .counting-row {
    width: 6%;
    float: left;
    text-align: center;
    padding-top: 3.3%;
    padding-left: 17px;
}

.full-boxed-how-it-works ul.outsourcing-works li .content-row {
    width: 60%;
    float: left;
}

.full-boxed-how-it-works ul.outsourcing-works li .content-row .row-content-title {
    /*padding-top: 38px;*/
    padding-top: 6%;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding-left: 6px;
}

.full-boxed-how-it-works ul.outsourcing-works li .content-row .row-content-title.how-it-works-title {
    padding-top: 5.3%;
    font-size: 25px;
    font-weight: normal;
    line-height: 28px;
    width: 95%;
    color: #444444;
}

.full-boxed-how-it-works ul.outsourcing-works li .content-row .row-content-info {
    font-weight: bold;
    padding-left: 6px;
}

.full-boxed-how-it-works ul.outsourcing-works li .content-row .row-content-info.how-it-works-info {
    font-weight: normal;
    font-size: 15px;
    color: #747474;
}

.full-boxed-how-it-works ul.outsourcing-works li .content-row .row-content-note {
    margin: 20px 0 0;
    padding-left: 6px;
}

.full-boxed-how-it-works ul.outsourcing-works li .content-row .row-content-note p {
    margin: 0px;
    padding-left: 8px;
    font-size: 12px;
    width: 410px;
}

.full-boxed-how-it-works ul.outsourcing-works li .content-row .row-content-note p:first-letter {
    margin-left: -5px;
}

.full-boxed-how-it-works {
    background: none repeat scroll 0 0 #F7F5F5;
    float: left;
    margin-bottom: 51px;
    overflow: hidden;
    width: 100%;
}

.col .why-outsource{
    margin-left: 56px;
    margin-top: -32px;
}

.single-column{
    margin-bottom: 22px;
}

.last-single-column {
    border-bottom: 1px solid #8C8989;
    margin-bottom: 50px;
    padding-bottom: 44px;
}

body .outsourced-container{
    margin: 0 0 60px;
}

.outsourced-container .columns {
    margin: 0 0 10px;
}

.content-post{
    margin: 0 0 30px;
}

.post-content ul.outsourced-arrow li:before {
    background-color: #ffffff;
    background-image: url("../../uploads/2013/02/outsourcing-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    float: left;
    height: 18px;
    margin-left: -25px;
    margin-right: 0;
    width: 18px;
}

.h5.toggle.active span.outsourced-arrow, .post-content ul.outsourced-arrow li:before, .progress-bar-content, .pagination .current{
    background-color: #ffffff !important;
}

.tp-bannershadow.tp-shadow2 {
    display:none;
}

.avada_big_black_text{
    font-size: 56px; 
}
                
.avada_small_gray_text{
    font-size: 15px;
}

#sliders-container{
    background-color: #FFFFFF !important;
    border-top: 1px solid #ddc30a;
    border-bottom: 1px solid #ddc30a;
}

nav#nav {
    margin-right: -26px;
}

.reading-box {
    margin: 0 0 48px;
}

.post-content .reading-box h2 {
    line-height: 26px !important;
}

#main .post-content .reading-box h2.philippines-outsourcing-magento {
    font-family: "PT Sans Caption",Arial,Helvetica,sans-serif !important;
    font-size: 20px;
}

.post-content .reading-box {
    line-height: 20px;
    padding-bottom: 0px;
}

.columns {
    margin: 0 0 48px;
}

img.staff-buffer {
    padding-bottom: 16px;
}

/* .page-title-wrapper {
    width: 940px;
}
 */
.page-title .page-title-wrapper h1 {
    font-size: 22px !important;
    font-family: "PT Sans Caption",Arial,Helvetica,sans-serif !important;
}

.button.large {
    padding: 0 30px 0 72px;
    font-family: "PT Sans Caption",Arial,Helvetica,sans-serif !important;
}

.tp-bannertimer {
    display:none;
}

.button_image {
	background-color:#dbc106;
    font-weight: bold;
    font-family: "PT Sans Caption",Arial,Helvetica,sans-serif !important;
    border: 1px solid #5AABD6;
    color: #105378 !important;
    padding: 0px 8px 0 8px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    height: 43px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    float: right;
    line-height: 44px;
}

.button_image:hover {
	background-color:#dbc106;
    color: #105378 !important;
    border: 1px solid #5AABD6;
}

.textwidget p.outsourced-footer-about {
    color: #8C8989;
    font-family: "PT Sans Italic",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-style: italic;
}

#recent-posts-3 ul li a{
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #BFBFBF !important;
}

.footer-area #text-3 div {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #8C8989 !important;
}

.footer-area #text-3 div label {
    color: #BFBFBF !important;
}

.breadcrumbs {
    color: #333333;
    font-family: "PT Sans Regular",Arial,Helvetica,sans-serif !important;
    font-size: 12px;
}

#content .post-19 .post-content .title h2 {
    color: #343333;
    font-family: "PT Sans Bold",Arial,Helvetica,sans-serif !important;
    font-size: 22px;
    line-height: 30px !important;
}

#content .post-19 div.post-content {
    padding-bottom: 32px;
}

.logo a img {
    /* height: 74px;width: 235px; */
    width: 335px;
    display:block;
}

.logo a div{
    width: 335px;
    height:106px;
    display:block;
  }
  
  
  

.review blockquote div .company-name {
    padding-left: 43px;
}

#main #post-15 .company-lists {
width:100%; height: 95px; margin-bottom: 70px;
}

#main #post-15 .company-lists .company-lists-upper-block {
float: left; width: 156.66px; text-align: left;
}
#main #post-15 .company-lists .company-lists-lower-block {
float: left; width: 188px; text-align: center;
}

#main #post-15 .outsourced-container .columns-3 {
    width: 100%;
    margin-bottom: 28px;
}

#main #post-15 .outsourced-container .last-columns-3 {
    width: 100%;
    margin-bottom: 0;
}

#main #post-17 .post-content h2 {
font-size: 26px !important;
font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
}

#main #post-17 .post-content .content {
padding-bottom: 46px;
}

.col .heading img {
	margin: 0 20px 0 0;
}

.post-content ul.arrow li {
	margin: 0 0 20px 0px;
}
.margin-c {
	margin: 30px 0 10px
}

.how-it-works-info {
	color: #747474;
}

.how-it-works-title {
	color: #444444;
}

.full-boxed-how-it-works ul.outsourcing-works li.imaged-row {
	border: 0px;
}

.row-content-note {
	font-size: 12px;
	line-height: 14px
}

#main #post-17 .post-content .content {
    padding-bottom: 46px;
}

.tp-leftarrow {
    display: none;
}

.tp-rightarrow {
    display: none;
}

#post-13 .post-content .content-post {
    padding-top: 1px;
}

#post-13 .content-post .title {
    margin-bottom: 10px;
}

#post-13 .content-post .enumaterate-why {
    padding-bottom: 30px;
}

#post-2 .post-content .columns-3 article p {
    color: #838383;
}

#post-2 .post {
    margin-bottom: 75px;
}

#main #post-2 .company-lists {
    height: 95px;
    margin-bottom: 70px;
    width: 100%;
}

#main #post-2 .company-lists .company-lists-upper-block {
    float: left;
    text-align: left;
    width: 156.66px;
}

#main #post-2 .company-lists .company-lists-lower-block {
    float: left;
    width: 188px;
    text-align: center;
}

#sidebar .widget_nav_menu li a, #sidebar .widget_categories li a {
    padding: 10px;
    text-indent: 0;
}

.success {
    margin-top: 20px;
}

#main .comment-submit:hover {
    margin-bottom: 45px;
}

.outsourcing-google {
    width: 174px;
}
.outsourcing-qantas {
    width: 174px;
}
.outsourcing-deloitte {
    width: 174px;
}

.post-content .announcement-box {
border-color: #e9842a !important;
margin-bottom: 26px;
}

#main .reading-box img.announcement-logo {
float: right;
padding-top: 28px;
padding-bottom: 20px;
}

#main .post-content .reading-box h2.announcement-head {
font-family: "PT Sans Caption",Arial,Helvetica,sans-serif !important;
font-size: 20px;
color: #ed8225 !important;
}

#main .post-content .reading-box p.announcement-info {
font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
font-size: 16px;
color: #343333 !important;
padding-top: 5px;
padding-bottom: 6px;
}

#main .post-content .reading-box p.announcement-data {
font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
font-size: 15px
color: #747474;
max-width: 490px;
padding-bottom: 26px;
}