@media only screen and (max-width: 1437px) and (min-width: 979px){
.vertical-menu-holder {
display: none;
}

}

        a:hover,
    #nav ul .current_page_item a, #nav ul .current-menu-item a, #nav ul > .current-menu-parent a,
    .footer-area ul li a:hover,
    .side-nav li.current_page_item a,
    .portfolio-tabs li.active a, .faq-tabs li.active a,
    .project-content .project-info .project-info-box a:hover,
    .about-author .title a,
    span.dropcap,.footer-area a:hover,.copyright a:hover,
    #sidebar .widget_categories li a:hover,
    #main .post h2 a:hover,
    #sidebar .widget li a:hover,
    #nav ul a:hover{
        color:#dbc106 !important;
    }
    #nav ul .current_page_item a, #nav ul .current-menu-item a, #nav ul > .current-menu-parent a,
    #nav ul ul,#nav li.current-menu-ancestor a,
    .reading-box,
    .portfolio-tabs li.active a, .faq-tabs li.active a,
    .tab-holder .tabs li.active a,
    .post-content blockquote,
    .progress-bar-content,
    .pagination .current,
    .pagination a.inactive:hover,
    #nav ul a:hover{
        border-color:#dbc106 !important;
    }
    .side-nav li.current_page_item a{
        border-right-color:#dbc106 !important;
    }
    h5.toggle.active span.arrow,
    .post-content ul.arrow li:before,
    .progress-bar-content,
    .pagination .current{
        background-color:#dbc106 !important;
    }
    h5.toggle.active span.outsourced-arrow,
    .post-content ul.outsourced-arrow li:before,
    .progress-bar-content,
    .pagination .current{
        background-color:#ffffff !important;
    }
    .facebook-box {
    background-color: #F4F4F4;
    border: 1px solid #F6F3F3;
    height: 246px;
    width: 220px;
    }
    
        .sep-boxed-pricing ul li.title-row{
        background-color:#62a2c4 !important;
        border-color:#62a2c4 !important;
    }
    .pricing-row .exact_price, .pricing-row sup{
        color:#62a2c4 !important;
    }
            .image .image-extras{
        background-image: linear-gradient(top, #90c9e8 0%, #5aabd6 100%);
        background-image: -o-linear-gradient(top, #90c9e8 0%, #5aabd6 100%);
        background-image: -moz-linear-gradient(top, #90c9e8 0%, #5aabd6 100%);
        background-image: -webkit-linear-gradient(top, #90c9e8 0%, #5aabd6 100%);
        background-image: -ms-linear-gradient(top, #90c9e8 0%, #5aabd6 100%);

        /*background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #90c9e8),
            color-stop(1, #5aabd6)
        );*/

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90c9e8', endColorstr='#5aabd6');
    }
    .no-cssgradients .image .image-extras{
        background:#90c9e8;
    }
            #main .reading-box .button,
    #main .continue.button,
    #main .portfolio-one .button,
    #main .comment-submit,
    .button.default{
        color: #105378 !important;
        font-size: 17px;
        background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -o-linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -moz-linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -webkit-linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -ms-linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-repeat: no-repeat;
        /*background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #2dcfe8),
            color-stop(1, #1ea9d6)
        );*/
        border:1px solid #1ea9d6;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dcfe8', endColorstr='#1ea9d6');
    }
    #main .comment-submit{
        color: #105378 !important;
        background-image: linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-image: -o-linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-image: -moz-linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-image: -webkit-linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-image: -ms-linear-gradient(top, #2dcfe8 0%, #1ea9d6 100%);
        background-repeat: no-repeat;
        /*background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #2dcfe8),
            color-stop(1, #1ea9d6)
        );*/
        border:1px solid #1ea9d6;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dcfe8', endColorstr='#1ea9d6');
    }
    .no-cssgradients #main .reading-box .button,
    .no-cssgradients #main .continue.button,
    .no-cssgradients #main .portfolio-one .button,
    .no-cssgradients #main .comment-submit,
    .no-cssgradients .button.default{
        background:#2dcfe8;
    }
    #main .reading-box .button:hover,
    #main .continue.button:hover,
    #main .portfolio-one .button:hover,
    #main .comment-submit:hover,
    .button.default:hover{
        color: #105378 !important;
        background-image: url("wp-content/uploads/2013/02/outsource-divider.png"), linear-gradient(top, #1ea9d6 0%, #2dcfe8 100%);
        background-image: url("wp-content/uploads/2013/02/outsource-divider.png"), -o-linear-gradient(top, #1ea9d6 0%, #2dcfe8 100%);
        background-image: url("wp-content/uploads/2013/02/outsource-divider.png"), -moz-linear-gradient(top, #1ea9d6 0%, #2dcfe8 100%);
        background-image: url("wp-content/uploads/2013/02/outsource-divider.png"), -webkit-linear-gradient(top, #1ea9d6 0%, #2dcfe8 100%);
        background-image: url("wp-content/uploads/2013/02/outsource-divider.png"), -ms-linear-gradient(top, #1ea9d6 0%, #2dcfe8 100%);

        /*background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #1ea9d6),
            color-stop(1, #2dcfe8)
        );*/
        border:1px solid #1ea9d6;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ea9d6', endColorstr='#2dcfe8');
    }
    .no-cssgradients #main .reading-box .button:hover,
    .no-cssgradients #main .continue.button:hover,
    .no-cssgradients #main .portfolio-one .button:hover,
    .no-cssgradients #main .comment-submit:hover,
    .no-cssgradients .button.default{
        background:#1ea9d6;
    }
    
    
        .page-title-container{
        /* background-image:url(http://outsourced.acidgreen-staging.com/wp-content/themes/Avada/images/page_title_bg.png) !important; */
        
        background-image:url(../images/subheaderbackground.png) !important;
        
        
    }
    
        .page-title-container{
        background-color:#E9E9E9;
    }
    
        @font-face {
        font-family: 'MuseoSlab500Regular';
        src: url('http://outsourced.ph/wp-content/uploads/2013/02/Museo_Slab_500-webfont.eot');
        src:
                        url('http://outsourced.ph/wp-content/uploads/2013/02/Museo_Slab_500-webfont1.woff') format('woff'),
                        url('http://outsourced.ph/wp-content/uploads/2013/02/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
            url('http://outsourced.ph/wp-content/uploads/2013/02/Museo_Slab_500-webfont.svg#MuseoSlab500Regular') format('svg'),
                        url('http://outsourced.ph/wp-content/uploads/2013/02/Museo_Slab_500-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    
    body,#nav ul li ul li a,
    .more,
    .avada-container h3,
    .meta .date,
    .review blockquote q,
    .review blockquote div strong,
    .image .image-extras .image-extras-content h4,
    .project-content .project-info h4,
    .post-content blockquote,
    .button.large,
    .button.small{
        font-family:"PT Sans", Arial, Helvetica, sans-serif !important;
    }
    .avada-container h3,
    .review blockquote div strong,
    .footer-area  h3,
    .button.large,
    .button.small{
        font-weight:bold;
    }
    .meta .date,
    .review blockquote q,
    .post-content blockquote{
        font-style:italic;
    }

    .review blockquote q {
        font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
        font-size: 15px;
        line-height: 20px;
    }

    
    #nav,
    .side-nav li a{
        font-family:"PT Sans Caption", Arial, Helvetica, sans-serif !important;
    }
    
    
    #main .reading-box h2,
    #main h2,
    .page-title h1,
    .image .image-extras .image-extras-content h3,
    #main .post h2,
    #sidebar .widget h3,
    .tab-holder .tabs li a,
    .share-box h4,
    .project-content h3,
    h5.toggle a,
    .full-boxed-pricing ul li.title-row,
    .full-boxed-pricing ul li.pricing-row,
    .sep-boxed-pricing ul li.title-row,
    .sep-boxed-pricing ul li.pricing-row,
    .person-author-wrapper,
    .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6{
        font-family:"PT Sans", Arial, Helvetica, sans-serif !important;
    }
    
    #main .post-content h2.imaged-head {
        color: #BFBFBF;
        font-size: 20px;
        font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
    }

    
    .footer-area  h3{
        font-family:"Antic Slab", Arial, Helvetica, sans-serif !important;
    }

        body{
        font-size:15px;
                line-height:23px;
    }
    .project-content .project-info h4{
        font-size:15px !important;
                line-height:23px !important;
    }
    
        #nav{font-size:14px !important;}
    
        .page-title ul li,page-title ul li a{font-size:10px !important;}
    
        .side-nav li a{font-size:14px !important;}
    
        #sidebar .widget h3{font-size:13px !important;}
    
        .footer-area h3{font-size:13px !important;}
    
        .copyright{font-size:12px !important;}
    
        #header .avada-row, #main .avada-row, .footer-area .avada-row, #footer .avada-row{ max-width:940px; }
    
        .post-content h1{
        font-size:32px !important;
                line-height:48px !important;
    }
    
        .post-content h2,.title h2,#main .post-content .title h2,.page-title h1,#main .post h2 a{
        font-size:20px !important;
                line-height:30px !important;
    }
    
        .post-content h3,.project-content h3{
        font-size:16px !important;
                line-height:24px !important;
    }
    
        .post-content h4{
        font-size:13px !important;
                line-height:20px !important;
    }
    h5.toggle a,.tab-holder .tabs li a,.share-box h4,.person-author-wrapper{
        font-size:13px !important;
    }
    
        .post-content h5{
        font-size:12px !important;
                line-height:18px !important;
    }
    
        .post-content h6{
        font-size:11px !important;
                line-height:17px !important;
    }
    
        body,.post .post-content,.post-content blockquote,.tab-holder .news-list li .post-holder .meta,#sidebar #jtwt,.meta,.review blockquote div,.search input,.project-content .project-info h4{color:#747474 !important;}
    
        .post-content h1, .post-content h2, .post-content h3,
    .post-content h4, .post-content h5, .post-content h6,
    #sidebar .widget h3,h5.toggle a, .tab-holder .tabs li a,
    .page-title h1,.full-boxed-pricing ul li.title-row,
    .image .image-extras .image-extras-content h3,.project-content .project-info h4,.project-content h3,.share-box h4,.title h2,.person-author-wrapper,#sidebar .tab-holder .tabs li a{
        color:#343333 !important;
    }
    
        body a,.project-content .project-info .project-info-box a,#sidebar .widget li a, #sidebar .widget .recentcomments, #sidebar .widget_categories li, #main .post h2 a{color:#343333 !important;}
    
        .page-title ul li,.page-title ul li a{color:#343333 !important;}
    
        .footer-area h3{color:#DDDDDD !important;}
    
        .footer-area,.footer-area #jtwt,.copyright{color:#8C8989 !important;}
    
        .footer-area a,.copyright a{color:#BFBFBF !important;}
    
        #nav ul a,.side-nav li a{color:#343333 !important;}
    
        #nav ul ul{background-color:#edebeb;}
    
        #wrapper #nav ul li ul li a,.side-nav li li a,.side-nav li.current_page_item li a{color:#343333 !important;}
    
    
    
        .main-flex .flex-control-nav{display:none !important;}
    
        @media only screen and (max-width: 940px){
        .breadcrumbs{display:none !important;}
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
        .breadcrumbs{display:none !important;}
    }
    
    
        #nav > li > a,#nav li.current-menu-ancestor a{height:83px;line-height:83px;}
    #nav ul ul{top:86px;}
    
    #main {
padding: 45px 10px;
}
.footer-area h3 {
font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
color: #BFBFBF !important;
font-size: 14px !important;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
color: #343333;
}
#main .post-content .title h2.post-sub-title {
font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
color: #343333;
font-size: 22px !important;
}
#main .post-content section article {
font-family: "PT Sans Regular",Arial,Helvetica,sans-serif !important;
}
#main .post-content section article h3 {
font-size: 17px !important;
font-weight: normal;
color: #333333 !important;
}
#main .comment-submit {
float: right;
margin: 0;
margin-right: 3px;
margin-bottom: 45px;
background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -moz-linear-gradient(center top , #2DCFE8 0%, #1EA9D6 100%);
background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -webkit-linear-gradient(top, #2DCFE8 0%, #1EA9D6 100%);
background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -ms-linear-gradient(top, #2DCFE8 0%, #1EA9D6 100%);
background-repeat: no-repeat;
border: 1px solid #1EA9D6;
font-size: 17px;
line-height: 44px;
}
#main .comment-submit:hover {
float: right;
margin: 0;
margin-right: 3px;
margin-bottom: 45px;
background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -moz-linear-gradient(center top , #1EA9D6 0%, #2DCFE8 100%);
background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -webkit-linear-gradient(top, #1EA9D6 0%, #2DCFE8 100%);
background-image: url("http://outsourced.ph/wp-content/uploads/2013/02/outsource-divider.png"), -ms-linear-gradient(top, #1EA9D6 0%, #2DCFE8 100%);
background-repeat: no-repeat;
border: 1px solid #1EA9D6;
font-size: 17px;
line-height: 44px;
}
#main #sidebar #text-5 .textwidget {
line-height: 20px;
}
#main #sidebar #text-5 .textwidget p {
margin: 0 0 10px 0;
}
#main #sidebar #text-5 .textwidget p span {
color: #000000;
}
#main #sidebar #text-5 .textwidget p img {
margin: 10px 0 0 0;
}
#main #sidebar #text-5 .textwidget a {
color: #20AFD9 !important;
border-bottom: 1px solid #20AFD9;
}
#main #sidebar #text-5 .textwidget a:hover {
color: #20AFD9;
}
.post-content h2.outsourcing-head, .title h2.outsourcing-head, #main .post-content .title h2.outsourcing-head, #main .post h2.outsourcing-head {
font-size: 22px !important;
font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
}
#main #post-15 .title {
margin: 0 0 23px;
}
.full-boxed-pricing ul li.title-row {
font: 20px "PT Sans Caption",Arial,Helvetica,sans-serif !important;
color: #333333 !important;
}
.page-title-container {
    background-color: #F6F6F6;
}
.alert {
    margin-top: 14px;
}
#post-19 form #submit {
    margin-bottom: 45px;
}
.page-title ul li {
    font-size: 12px !important;
    color: #333333 !important;
}
.page-title ul li a {
    color: #333333 !important;
}
.error-fields {
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.error {
    margin-top: 14px;
}
#validation-errors {
    text-align: left;
}
#nav ul a, .side-nav li a {
    color: #333333 !important;
}



.teleicon img{
	width:50px;vertical-align: middle;
	
	
}

.ac{
	text-align:center;
}

.fr{
	float:right;
}

.fl{
	float:left;
}

.dd_button_phone{
	float: left;
text-align: left;
margin-top: 6px;
border-right: solid 1px #3777D8;
padding-right: 1px;
margin-right: 4px;
}

.testimonialBlock{
	border-radius:5px;;
	background-color:#ccc;
	padding:20px;
	font-size: 12px;
	font-family: 'Prosto One', cursive;
	color:#8F2C2C;
}

.bigQuote{
	/* font-family: 'Della Respira', serif; */
	font-size:20px;
}

.selfpics img{
	border-radius:15px;
}


.specialcolor{
color:#2743D5;	

}

.testItem{
	border-radius:5px;
	margin:15px;
	padding:15px;
	background-color:#ccc;
	width:400px;
	float:left;
	color:#fff;
	font-size:17px;
}

.arrow_box {
	position: relative;
	background: #a1a1a1;
	border: 3px solid #e1f5d8;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(161, 161, 161, 0);
	border-top-color: #a1a1a1;
	border-width: 9px;
	left: 13%;
	margin-left: -9px;
}
.arrow_box:before {
	border-color: rgba(225, 245, 216, 0);
	border-top-color: #e1f5d8;
	border-width: 13px;
	left: 13%;
	margin-left: -13px;
}

.commentor div{float:left;}
.commentor{
	font-size:10px;
}

.commentor img{
	margin-left:25px;
}
.commentor .text{
 	line-height: 13px;
    padding: 4px 0 0 8px;
    vertical-align: middle;
}
.commentor .text .name{
 font-weight:bold;
}

hr.style-two {
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.selfpics img{
	box-shadow: 3px 4px 12px #CCCACC;
}

#packagelist li{
	text-align:left;
	margin:4px 0px;
}
.testimonypullup{
margin-top: -75px;
}

#specialrow{
	background-color:#E6E6E6;
	padding:25px;
	width:77%;
	border-radius:10px;
}

.togglearrow{
	 -webkit-transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;
}

.arrowtwist{
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}

.arrowtwistup{
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
}


.selectitem1 ,.selectitem2{
	cursor:pointer;
}

.selectitem1:hover h2 ,.selectitem2:hover h2{
	color:#16407E !important;
}

.closebutton{
	float:right;
	color:#ff0000 !important;
	cursor:pointer;
	margin: -19px -30px 0px 0px;
}

#detailedList{
	margin-top:50px;
	
}

.headphone img{ border-radius:5px;
box-shadow: 3px 4px 12px #CCCACC;
}

#textHeader{
	font-weight:bold;
	font-size:22px;
	margin:10px;
	text-decoration:underline;
}

#subPageContent a{
	color:#CE5959 !important;
}

.orange{
	color:#F00;
}


#label {
margin: 10px 0px;
color: #686868;
padding-left: 10px;
}

#subPageContent input[type=text] {
width: 100%;
border: 1px solid #CCC;
border-radius: 4px 4px 4px 4px;
display: inline-block;
padding: 6px 4px;
box-shadow: 0 0 4px 0px #807F9F;
}

#subPageContent textarea {
width: 75%;
border: 1px solid #CCC;
border-radius: 4px 4px 4px 4px;
display: inline-block;
padding: 6px 4px;
height: 160px;
box-shadow: 0 0 4px 0px #807F9F;
margin: 5px 0px;
}

#contactformLeft{
	float:left;width:51%;
}

#send {
width: 116px;
margin: auto !important;
display: block;
}

#sendBttn {
cursor: pointer;
margin: 10px;
}


.error{
	border:none !important;
}


.error:before
{ 
content:" ";
}

#DCCForm{
	width:80%;
}

#thanks {
  height: 232px;
  margin-top: 135px;
  font-size:26px;
  line-height:31px;
}

.slides{
	margin-left:-72px;
	list-style:none;
}

.heading-and-icon img{
	float:left;
}

.imaged-head{
	margin: 11px 0px 24px 45px !important;
}

.specialcaptionbanner{
font-size: 42px !important;
text-align: center;
line-height: 52px !important;
}

.specialbulletsbanner1 span{
	margin: 5px 0px;
display: block;
font-size: 21px;
}



#testimonyfadeshow {
	display:block;
	overflow:auto;
	margin: 40px auto 10px auto;
	/* height: 70px; */
	position: relative;
	border: solid 1px #ccc;
	background-color: #ADAAAA;
	padding: 5px;
	-moz-box-shadow: 6px 6px 8px #888;
	-webkit-box-shadow: 6px 6px 8px #888;
	box-shadow: 6px 6px 8px #888;
	color:#fff;
	border-radius:5px;
	font-size:16px;
}

#testimonyfadeshow div {
/* position: absolute;
left: 0;
top: 0;
font-style:italic; */
}

.testimonial_blockfadeshow {
padding: 5px;
}

#testomony_signature{
	color:#1E1E5A;
display:block;
text-align:right;
margin-right:30px;
font-size:14px;	
}

.mobile-vertical-menu{
	text-align:center;
}

.container{
	width: 100%;
}